@{
    ViewBag.Title = "Dialogue Blueprint";

    

}
<div id="canvas-outer">
    @*<canvas id="canvas" width="1490" height="890"></canvas>*@
</div>


@section scripts {
    <script>
        $(document).ready(function () {

            function dragElement(elmnt) {

                console.log(elmnt);

                var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
                if (document.getElementById(elmnt.id + "header")) {
                    // if present, the header is where you move the DIV from:
                    document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
                } else {
                    // otherwise, move the DIV from anywhere inside the DIV:
                    elmnt.onmousedown = dragMouseDown;
                }

                function dragMouseDown(e) {
                    e = e || window.event;
                    e.preventDefault();
                    // get the mouse cursor position at startup:
                    pos3 = e.clientX;
                    pos4 = e.clientY;
                    document.onmouseup = closeDragElement;
                    // call a function whenever the cursor moves:
                    document.onmousemove = elementDrag;
                }

                function elementDrag(e) {
                    e = e || window.event;
                    e.preventDefault();
                    // calculate the new cursor position:
                    pos1 = pos3 - e.clientX;
                    pos2 = pos4 - e.clientY;
                    pos3 = e.clientX;
                    pos4 = e.clientY;
                    // set the element's new position:
                    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
                    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
                }

                function closeDragElement() {
                    // stop moving when mouse button is released:
                    document.onmouseup = null;
                    document.onmousemove = null;
                }
            }

            function AddNewBlock(block) {
                var dimensions = {
                    h: (block.height > 0) ? block.height : 100,
                    w: (block.width > 0) ? block.width : 250
                }

                var position = {
                    x: block.x,
                    y: block.y
                };

                var style = [
                    {
                        property: `border`,
                        value: `black 1px solid`
                    },
                    {
                        property: `border-radius`,
                        value: `4px`
                    },
                    {
                        property: `background-color`,
                        value: `${block.color}`
                    },
                    {
                        property: `text-align`,
                        value: `center;`
                    }
                ];

                var elId = `${block.dialogue.speaker}-${block.dialogue.text}-${block.id}`;
                var builder = new HTMLElementBuilder(elId, style, dimensions, position);
                builder.text = `${block.dialogue.speaker} : ${block.dialogue.text}`;

                var element = builder.CreateElement().GetElement();


                document.querySelector('#canvas-outer').appendChild(element);
                dragElement(document.getElementById(elId));
            }

            var diaBlocks = [];

            function GetBlocks() {
                $.get("@Url.Action("GetDialogueBlocks", "Home")", function (blocks) {
                    $.each(blocks, function (index, block) {
                        AddNewBlock(block);
                        diaBlocks[`${block.x},${block.y}`] = block;
                    });
                });

                console.log(diaBlocks);
            }

            GetBlocks();

            //$('#canvas').on('dblclick', function (event) {
            //    var x = event.pageX - $(this).offset().left;
            //    var y = event.pageY - $(this).offset().top;
            //    var height = 100;
            //    var width = 250;

            //    if (diaBlocks[`${x},${y}`] != null) {
            //        return;
            //    }

            //    var block = { dialogue: { speaker: "[speaker]", text: "[text]" }, x: x, y: y, height: height, width: width, color: '#F08090' }

            //    $.post('@Url.Action("AddDialogueBlock", "Home")', block, function (result) {
            //        if (result.success) {
            //            AddNewBlock(block);
            //        }
            //    })
            //});

            //$('form').submit(function (event) {
            //    event.preventDefault();

            //    var speaker = $('#Speaker').val();
            //    var text = $('#Text').val();
            //    var x = 0;
            //    var y = 0;
            //    var height = 100;
            //    var width = 250;

            //    var block = { dialogue: { speaker: speaker, text: text }, x: x, y: y, height: height, width: width, color: '#F08090' }

            //    $.post('@Url.Action("AddDialogueBlock", "Home")', block, function (result) {
            //        if (result.success) {
            //            AddNewBlock(block);
            //        }
            //    });
            //});

            
        });
    </script>
}