@model Dialogue_Visualizer.ViewModels.Dialogues.DialogueViewModel
@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr scope="row">
            <th scope="col">ID</th>
            <th scope="col">Speaker</th>
            <th scope="col">Text</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DialogueBlocks)
        {
            <tr scope="row">
                <td scope="col">
                    @Model.DialogueBlocks.ToList().IndexOf(item)
                </td>
                <td scope="col">
                    @item.Dialogue.Speaker
                </td>
                <td scope="col">
                    @item.Dialogue.Text
                </td>
                <td scope="col">

                </td>
            </tr>
        }
    </tbody>
</table>