@model Dialogue_Visualizer.ViewModels.Dialogues.DialogueViewModel
@{
    ViewData["Title"] = "Home Page";

    var projects = Model.Projects;
}



<table class="table">
    <thead>
        <tr scope="row">
            <th scope="col">ID</th>
            <th scope="col">Speaker</th>
            <th scope="col">Text</th>
            <th scope="col">Scene</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in projects)
        {
            foreach (var scene in project.Scenes)
            {
                foreach (var item in scene.Blocks)
                {
                    <tr scope="row">
                        <td scope="col">
                            @item.Id
                        </td>
                        <td scope="col">
                            @item.Dialogue.Speaker
                        </td>
                        <td scope="col">
                            @item.Dialogue.Text
                        </td>
                        <td scope="col">
                            @scene.Name
                        </td>
                    </tr>
                }
            }
        }

        
    </tbody>
</table>