@model Dialogue_Visualizer.ViewModels.Dialogues.DialogueViewModel
@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr scope="row">
            <th scope="col">ID</th>
            <th scope="col">Speaker</th>
            <th scope="col">Text</th>
            <th scope="col">Scene</th>
        </tr>
    </thead>
    <tbody>
        @for(int i = 0; i < Model.Projects.FirstOrDefault()?.Scenes.Count; i++)
        {
            foreach (var item in Model?.Projects?.FirstOrDefault()?.Scenes[i]?.Blocks)
            {
                <tr scope="row">
                    <td scope="col">
                        @item.Id
                    </td>
                    <td scope="col">
                        @item.Dialogue.Speaker
                    </td>
                    <td scope="col">
                        @item.Dialogue.Text
                    </td>
                    <td scope="col">
                        @{
                            var scene = Model.Projects.FirstOrDefault()?.Scenes.FirstOrDefault(y => y.Blocks.FirstOrDefault(b => b.Id == item.Id) != null);
                            var sceneName = scene != null ? scene.Name : "No Scene";
                        }
                        @sceneName
                    </td>
                </tr>
            }
            
        }
    </tbody>
</table>