@model Dialogue_Visualizer.ViewModels.Dialogues.DialogueViewModel
@{
    ViewData["Title"] = "Home Page";
}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Speaker</th>
            <th>Text</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DialogueBlocks)
        {
            <tr>
                <td>
                    @Model.DialogueBlocks.ToList().IndexOf(item)
                </td>
                <td>
                    @item.Dialogue.Speaker
                </td>
                <td>
                    @item.Dialogue.Text
                </td>
            </tr>
        }
    </tbody>
</table>