<menu id="ctxMenu" type="context">
    <menu label="Edit">
        <menu label="Color" id="ctxMenuColor"  onclick="$('#contextView').load('@Url.Action("ContextView", "Home")', 'Color')"></menu>
        <menu label="Speaker" id="ctxMenuSpeaker"></menu>
        <menu label="Text" id="ctxMenuText"></menu>
    </menu>
</menu>

<div id="contextView">
    aa
</div>