@model dynamic


<div id="dialogueBlockForm" class="" tabindex="1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Dialogue</h5>
                <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @{
                    switch (Model.func)
                    {
                        case "Color":
                            <form class="input-group">
                                <label for="color">Dialogue-Block Color: @Model.model.Color</label>
                                <input type="color" name="Color" id="color"/>
                            </form>
                            break;
                        case "Speaker":
                            break;
                        case "Text":
                            break;
                        default:
                            break;
                    }
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
